<!-- <!DOCTYPE html>
<html>
<head>
	{% if title %}
			<title> Django Blog - {{ title }}</title>
	{% else %}
			<title> Django Blog</title>
	{% endif %}
</head>
<body>
	{% for post in posts %}
		<h1>{{post.title}}</h1>
		<p> By {{ post.author}} on {{ post.date_posted}}</p>
	{% endfor %}
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'blog/uiscript.js' %}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/uistyle.css' %}">
    <title>Battle Map</title>
</head>
<body>

	{% csrf_token %}
	<div class="buttongrid">
		
	</div>


<div id="TerrainButtons" class="sidenav">
  <a href="#" id="wall">Wall</a>
  <a href="#" id="tree">Tree</a>
  <a href="#" id="rock">Rock</a>
  <a href="#" id="water">Water</a>
  <a href="#" id="fire">Fire</a>
</div>
<div id="DeselectButtons" class="sidenav">
  <a href="#" id="deselect">Deselect</a>
</div>
<div id="add_field" class="add_field">
    <input type="text" id="characterInput" placeholder="Piece name...">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>
<div class="listcontainer">
    <h2 style="margin:5px">Current Pieces</h2>
<ul id="character_list">
</ul>
</div>

	
<form method="POST">
	<div>
		<button id="final_submit" type="submit">Send</button>
	</div>
</form>
<form method="GET">
	<div>
		<button id="final_receive" type="submit">Receive</button>
	</div>
</form>
</body>
</html>