html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.buttongrid{
  border: 1px solid floralwhite;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 4px;
}

button {
  height: 78px;
  width: 78px;
  background-color: floralwhite;
  transition: 0.2s;
  border: none;
}

button.selected {
  border: 7px solid #ccc;
}

button.triggered {
  background-image: url("sword2.png");
  background-repeat: no-repeat;
  background-position: center;
}

button.wall {
  background-color: silver;
}

button.tree {
  background-color: forestgreen;
}

button.rock {
  background-color: sienna;
}

button.water {
  background-color: deepskyblue;
}

button.fire {
  background-color: orangered;
}

button.deselect {
  background-color: floralwhite;
}

body {
 background-image: url("https://cdn.pixabay.com/photo/2016/02/23/10/55/paper-1217311_960_720.jpg");
}

button:hover {
  background-color: #ffee9c;
}

#TerrainButtons a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#TerrainButtons a:hover {
  left:0;
}

#TerrainButtons a.selected {
  border: 7px solid #ccc;
}

#DeselectButtons a {
  position: absolute;
  left: -120px;
  transition: 0.3s;
  padding: 15px;
  width: 180px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  border-radius: 0 5px 5px 0;
}

#DeselectButtons a:hover {
  left:0;
}

#DeselectButtons a.selected {
  border: 7px solid #ccc;
}

#wall {
  top: 150px;
  background-color: silver;
}

#tree {
  top: 250px;
  background-color: forestgreen;
}

#rock {
  top: 350px;
  background-color: sienna;
}

#water {
  top: 450px;
  background-color: deepskyblue;
}

#fire {
  top: 550px;
  background-color: orangered;
}

#deselect {
  color: black;
  top: 650px;
  background-color: floralwhite;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color*/
ul li.checked {
  background: #888;
  color: #fff;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: firebrick;
  color: white;
}

/* Style the header */
.add_field {
  width: 25%;
  right: 0px;
  position: absolute;
  background-color: firebrick;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.add_field:after {
  content: "";
  display: table;
  clear: both;
}

.listcontainer {
  width: 25%;
  right: 0px;
  top: 100px;
  position: absolute;
  background-color: wheat;
  padding: 30px 40px;
  color: black;
  text-align: center;
}

.listcontainer:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}